{% extends 'thisApp/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class='container'}>
    <div class='row'>
        <div class='col-sm-6'>
            <form>
             {% csrf_token %}
             <fieldset class='form group'>
                <legend>Reset Your Password</legend>
                {{form|crispy}}
             <fieldset>
             <button type='submit'>Reset</button>
            </form>
        </div>
    </div>
</div>












{% endblock content %}